pkgbase = podshl-bin
	pkgdesc = Ask the projects you run what is wrong with your machine; every reading consented, nothing uploaded without asking
	pkgver = 0.1.7
	pkgrel = 1
	url = https://github.com/dx111ge/podshl
	arch = x86_64
	license = AGPL-3.0-or-later
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libsoup3
	depends = glib2
	depends = gdk-pixbuf2
	depends = cairo
	depends = dbus
	depends = glibc
	depends = libgcc
	depends = hicolor-icon-theme
	optdepends = gnome-keyring: store a model API key (any Secret Service provider works)
	optdepends = pciutils: the PCI device list reading
	optdepends = nvidia-utils: the NVIDIA card and driver readings
	optdepends = docker: readings about running containers
	provides = podshl
	conflicts = podshl
	options = !strip
	options = !debug
	source = podshl-client-0.1.7::https://github.com/dx111ge/podshl/releases/download/v0.1.7/podshl-client-0.1.7-linux-x86_64
	source = LICENSE-0.1.7::https://raw.githubusercontent.com/dx111ge/podshl/v0.1.7/LICENSE
	source = icon-32-0.1.7.png::https://raw.githubusercontent.com/dx111ge/podshl/v0.1.7/client-rs/icons/32x32.png
	source = icon-128-0.1.7.png::https://raw.githubusercontent.com/dx111ge/podshl/v0.1.7/client-rs/icons/128x128.png
	source = icon-256-0.1.7.png::https://raw.githubusercontent.com/dx111ge/podshl/v0.1.7/client-rs/icons/128x128@2x.png
	source = podshl-client.desktop
	sha256sums = 16e6b220c94878154a290605dc7410e38e689ce4ad184c7889c61cac1b0d92d3
	sha256sums = 0d96a4ff68ad6d4b6f1f30f713b18d5184912ba8dd389f86aa7710db079abcb0
	sha256sums = 4633d1d532bcf4719ce173d420f649d9fc60abe788a329bf51b4f76951b190f8
	sha256sums = 0ded5f06da14c6700741dc4fa3bcdde8ea53c8b1410c11f4504c023d94955c7a
	sha256sums = a54ca58f500ea79efe69c591718b1def452ad98f9f3f60f4f62233ed1e82ecf0
	sha256sums = 8dd7df2997e5b5108a66e8ce624ea3e7ed02859f10a97eeb15789d88fbc628ff

pkgname = podshl-bin
